{% extends "cards/base.html" %}
{% block content %}
    <div class="content-section">
        <a href="{% url 'deck_detail' deck_id=card.deck.id %}" class="btn btn-secondary">Back to Deck</a>
        {% if card.deck.subject.creator == user %}
            <div class="btn-group">
                <a href="{% url 'edit_card' card_id=card.id %}" class="btn btn-warning">Edit Card</a>
                <a href="{% url 'delete_card' card_id=card.id %}" class="btn btn-danger">Delete Card</a>
            </div>
        {% endif %}
        <p>{{ card.question }}</p>
        <p>{{ card.answer }}</p>
{% endblock content%}