{% extends "cards/base.html" %}
{% block content %}
    <div class="content-section border border-secondary-subtle rounded">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'deck_detail' deck_id=card.deck.id %}" class="btn btn-secondary">Back to Deck</a>
            </div>
            <div class="col-8 text-end">
                {% if card.deck.subject.creator == user %}
                    <div class="btn-group">
                        <a href="{% url 'edit_card' card_id=card.id %}" class="btn btn-warning">Edit Card</a>
                        <a href="{% url 'delete_card' card_id=card.id %}" class="btn btn-danger">Delete Card</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if card.question_image %}
            <img src="{{ card.question_image.url }}" alt="Question Image">
        {% endif %}
        <p>{{ card.question }}</p>
        <br>
        {% if card.answer_image %}
            <img src="{{ card.answer_image.url }}" alt="Answer Image">
        {% endif %}
        <p>{{ card.answer }}</p>
{% endblock content%}