{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'deck_detail' deck_id=deck.id %}" class="btn btn-secondary"><i class="bi bi-arrow-left-square-fill"></i> {{ deck.name }}</a>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border_bottom mb-4">
                    Create Card
                </legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group text-end">
                <button class="btn btn-success" type="submit">Create Card</button>
            </div>
        </form>
    </div>
{% endblock content%}