{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section border border-secondary-subtle rounded">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'subject_detail' subject_id=deck.subject.id %}" class="btn btn-secondary"><i class="bi bi-arrow-left-square-fill"></i> {{ deck.subject.name }}</a>
            </div>
        </div>
        <h2>Edit Deck</h2>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-end"></div>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
        <h2>Cards</h2>
            <ul>
                <div class="d-flex flex-column bd-highlight mb-3">
                    {% for card in cards %}
                    <div class="row bd-highlight border">
                        <div class="col-6 col-sm-3">
                            {{ card.question }}
                        </div>
                        <div class="col-6 col-sm-3">
                            {% if card.question_image %}
                                <img src="{{ card.question_image.url }}" class="img-thumbnail rounded" alt="Question Image">
                            {% endif %}
                        </div>
                        <div class="col-6 col-sm-3">
                            {{ card.answer }}
                        </div>
                        <div class="col-6 col-sm-3">
                            {% if card.answer_image %}
                                <img src="{{ card.answer_image.url }}" class="img-thumbnail rounded" alt="Answer Image">
                            {% endif %}
                        </div>
                        <a href="{% url 'edit_card' card_id=card.id %}">Edit</a>
                    </div>
                        {% empty %}
                    <div class="p-2 bd-highlight"></div>
                        No cards in this deck yet.
                    </div>
                    {% endfor %}
                </div>
            </ul>
    </div>
{% endblock content %}