{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section border border-secondary-subtle rounded">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'subject_detail' subject_id=deck.subject.id %}" class="btn btn-secondary"><i class="bi bi-arrow-left-square-fill"></i> {{ deck.subject.name }}</a>
            </div>
        </div>
        <h2>Edit Deck</h2>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-end">
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'create_card' deck_id=deck.id %}" class="btn btn-success btn-lg">Manage Cards <span class="badge text-bg-light">{{ num_cards }}</span></a>
        </div>
    </div>
{% endblock content %}