{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section border border-secondary-subtle rounded">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'subject_detail' subject_id=subject.id %}" class="btn btn-secondary"><i class="bi bi-arrow-left-square-fill"></i> {{ subject.name }}</a>
            </div>
    </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border_bottom mb-4">
                    Create Deck
                </legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group text-end">
                <button class="btn btn-success" type="submit">Create Deck</button>
            </div>
        </form>
    </div>
{% endblock content%}