{% extends "cards/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'subject_detail' subject_id=deck.subject.id %}" class="btn btn-secondary">Back to Subject</a>
            </div>
            <div class="col-8 text-end">
            {% if deck.subject.creator == user %}
                <div class="btn-group">
                    <a href="{% url 'create_card' deck_id=deck.id %}" class="btn btn-success">+ New Card</a>
                    <a href="{% url 'edit_deck' deck_id=deck.id %}" class="btn btn-warning">Edit Deck</a>
                    <a href="{% url 'delete_deck' deck_id=deck.id %}" class="btn btn-danger">Delete Deck</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="g-2 p-3">
            <h1>{{ deck.name }}</h1>
            <p>{{ deck.description }}</p>
            {% if num_cards > 0%}
                <a href="{% url 'quiz_view' deck_id=deck.id %}" class="btn btn-success">Start Quiz</a>
                <p>There are {{ num_cards }} card(s) in this deck.</p>
            {% else %}
                <p>There are no cards in this deck yet.</p>
            {% endif %}
        </div>
{% endblock content%}