{% extends "cards/base.html" %}
{% block content %}
    <!-- This page is only displayed for authenticated users -->
    <div class="content-section">
        <div class="row">
            <div class="text-end">
                <div class="btn-group">
                    <a href="{% url 'create_subject' %}" class="btn btn-success">+ New Subject</a>
                </div>
            </div>
        </div>
        <h1>{{ user.first_name }}'s Subjects</h1>
            <ul class="list-group">
            {% for subject in user_subjects %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'subject_detail' subject_id=subject.id %}" class="list-group-item-action">{{ subject.name }}</a>
                <div class="btn-group" role="group">
                    <a href="{% url 'edit_subject' subject_id=subject.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></a>
                    <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="setDeleteUrl('{% url 'delete_subject' subject_id=subject.id %}');"><i class="bi bi-trash"></i></a>
                </div>
            </li>
            {% empty %}
                You do not have any subjects yet.
            {% endfor %}
        </ul>
    </div>
{% endblock content %}