{% extends "cards/base.html" %}
{% load static %}
{% block content %}
    <div class="content-section">
        <!-- Navigation buttons -->
        <div class="row">
            <div class="col-4">
                <a href="{% url 'deck_detail' deck_id=deck.id %}" class="btn btn-secondary"><i class="bi bi-arrow-left-square-fill"></i> {{ deck.name }}</a>
            </div>

        </div>
        <!-- Card Navigation -->
        <div class="row">
            <div class="col align-items-start">
                <button id="prev-question-btn" class="btn btn-lg"><i class="bi bi-arrow-left-square-fill"></i></button>
            </div>
            <div class="col align-items-end text-end">
                <button id="next-question-btn" class="btn btn-lg"><i class="bi bi-arrow-right-square-fill"></i></button>
            </div>
        </div>
        <!-- Quiz Area -->
        <section id="quiz-card" class="card text-bg-light mb-3" style="height: 32rem;">
                <div class="card-front row align-items-center">
                    <div id="question-image-area" class="col-md-6 d-flex align-items-center justify-content-center card-col">
                        <img id="question-image" class="img-thumbnail">
                    </div>
                    <div id="question-text-area" class="col-md-6 d-flex align-items-center justify-content-center card-col">
                        <p id="question-text" class="card-text"></p>
                    </div>
                </div>
                <div class="card-back row align-items-center">
                    <div id="answer-image-area" class="col-md-6 d-flex align-items-center justify-content-center card-col">
                        <img id="answer-image" class="img-thumbnail">
                    </div>
                    <div id="answer-text-area" class="col-md-6 d-flex align-items-center justify-content-center card-col">
                        <p id="answer-text" class="card-text"></p>
                    </div>
                </div>
        </section>
{% endblock content %}

{% block extra_js %}
    {{ cards|json_script:"cards-data" }}
    <script src="{% static 'js/quiz.js' %}"></script>
{% endblock extra_js %}