{% extends "cards/base.html" %}
{% load static %}
{% block content %}
    <div class="content-section border border-secondary-subtle rounded">
        <!-- Navigation buttons -->
        <div class="row">
            <div class="col-4">
                <a href="{% url 'deck_detail' deck_id=deck.id %}" class="btn btn-secondary"><i class="bi bi-arrow-left-square-fill"></i> Back</a>
            </div>  
        </div>
        <div class="carousel slide p-3">
            <!-- Card Navigation -->
            <button id="prev-question-btn" class="carousel-control-prev invert-colors" type="button">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <button id="next-question-btn" class="carousel-control-next invert-colors" type="button">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> 
            <section id="quiz-card" class="card bg-secondary-subtle text-center" style="height: 32rem;">    
                <!-- Question Area -->
                <div class="card-front row g-0 align-items-center">
                    <div id="question-image-area" class="col-12 card-row-half d-flex align-items-center justify-content-center">
                        <img id="question-image" class="img-thumbnail">
                    </div>
                    <div id="question-text-area" class="col-12 card-row-half d-flex align-items-center justify-content-center">
                        <p id="question-text" class="card-text"></p>
                    </div>
                </div>
                <!-- Answer Area -->
                <div class="card-back row align-items-center">
                    <div id="answer-image-area" class="col-12 card-row-half d-flex align-items-center justify-content-center">
                        <img id="answer-image" class="img-thumbnail">
                    </div>
                    <div id="answer-text-area" class="col-12 card-row-half d-flex align-items-center justify-content-center">
                        <p id="answer-text" class="card-text"></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    {{ cards|json_script:"cards-data" }}
    <script src="{% static 'js/quiz.js' %}"></script>
{% endblock extra_js %}