{% extends "cards/base.html" %}
{% block content %}
    <div class="content-section">
        <a href="{% url 'cards-home' %}" class="btn btn-secondary">Back to Home</a>
        <h1>{{ subject.name }}</h1>
        {% if subject.creator == user %}
            <div class="btn-group">
                <a href="{% url 'create_deck' subject_id=subject.id %}" class="btn btn-success">+ New Deck</a>
                <a href="{% url 'edit_subject' subject_id=subject.id %}" class="btn btn-warning">Edit Subject</a>
                <a href="{% url 'delete_subject' subject_id=subject.id %}" class="btn btn-danger">Delete Subject</a>
            </div>
        {% endif %}
        <h2>Decks</h2>
            <ul>
                {% for deck in subject.deck_set.all %}
                    <li><a href="{% url 'deck_detail' deck_id=deck.id %}">{{ deck.name }}</a></li>
                {% empty %}
                    <li>No decks yet.</li>
                {% endfor %}
            </ul>
    </div>
{% endblock content%}